*{
    margin: 0%;
    padding: 0%;           
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:60px 60px 300px 300px 300px 200px 80px;
    grid-template-areas:
    "1"
    "2"
    "3"
    "4"
    "5"
    "6"
    "7";                       
}
.head{
    font-size: 40px;
    font-family: Baskervville SC;
    text-align: center;
    padding: 10px;
    color: rgb(244, 235, 235);
    background-color: rgb(100, 98, 98);
}
.box1{
    background-color: #121314;
    grid-area: 1;
}
.box2{
    background-color:#131518;
    grid-area: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
li{
    float: left;
    list-style-type: none;
    padding: 20px;
}
a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: rgb(236, 227, 227);
    border-radius: 15px;
}
a:hover{
    font-size: 20px;
    background-color: rgb(144, 142, 142);
    padding: 7px;
    transition: ease 0.2s;
}
.search{
    float: right;
    font-size: medium;
}
.box3{
    background-color: rgb(174, 206, 170);
    grid-area: 3;
    background-image: ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}
.b1{
    background-color: aliceblue;
    color: #121314;
    font-size:x-large;
    padding: 5px;
    border: 1px snow;
    border-radius: 5px;
}
.b1:hover{
    background-color: #c6eacf;

}
.box4{
    background-color: rgb(226, 226, 232);
    grid-area: 4;
}
.bo4{
    height: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.box5{
    background-color: rgb(188, 174, 202);
    grid-area: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}
.box6{
    background-color: rgb(127, 121, 123);
    grid-area: 6;
}
.bo6{
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.box7{
    background-color: rgb(195, 129, 129);
    grid-area: 7;
    display: flex;
    justify-content:center;
    align-items: center;
}
.b7{
    font-size:medium;
    padding: 5px;
}
.b72{
    font-size:medium;
    padding: 5px;
    border: 1px snow;
}
.b72:hover{
    background-color: rgb(195, 129,129);
}


