body {
    font-family: Arial, sans-serif;
    background-color: #a2a4d1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin: 0; */
}

.container {
    background-color: #b6b4db;
    padding: 20px;
    width: 300px;
    height: 40vh;
    border: 1px solid black;
    border-radius: 4px;
    width: 400px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input[type="number"] {
    width: 100px;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #f7fafa;
    color: black;
    border:1px solid black;
    cursor: pointer;
    margin-top: 10px;
    
}

button:hover {
    background-color: #91a7e1;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
.ab{
    width: 10px;
    height: 20px;
}

