*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: black;
}
.soo{
    text-align: center;
}
.soo:link{
    background-color: #bd7979;
    color: rgb(13, 14, 13);
    padding: 10px;
    text-decoration:none;
}
.soo:visited{
    background-color: #090808;
    color: rgb(244, 249, 246);
    padding: 5px;
}
.soo:hover{
    background-color:gray;
    color: rgb(11, 11, 11);
}
.aaa{
    display: flex;
    flex-direction: column;
}
.bbb{
    background-color: burlywood;
    width: 30%;
    height: 85vh;
    display: flex;
    flex-direction: row;
}
.ccc{
    background-color: rgb(118, 211, 180);
    width: 100%;
    height: 10vh;
}
.ddd{
    background-color: rgb(215, 145, 154);
    width: 100%;
    height: 85vh;
    display: flex;
}
.eee{
    background-color:rgb(119, 119, 199);
    width: 20%;
    height: 85vh;
}